.profile_body{
    width:65%;
    margin:0 auto;
}
.porfile_header{
    width:85%;
margin-top: 45px;
display: flex;
align-items: flex-start;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
gap:15px;
}
.profile_user_info{
    flex: .8;
}
.user_profile_first{
    
    display: flex;
    gap:22px;
    align-items: center;
}
.user_profile_first h3{
    font-size: 24px;
    font-weight: 300;
}
.edit_btn{
    padding:3px 8px;
    border: 1px solid #dbdbdb;
    font-weight: 500;
    border-radius: 4px;
}
.setting_btn{
    width:32px;
    height:32px;
    border: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 65px;
}
.profile_user_avatar{
    width:175px;
    height:175px;
    background-color: #eee;
    border-radius: 50%;
}

.profile_user_avatar_blank{
    width:175px;
    height:175px;
    background-color: #eee;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.profile_user_avatar_blank::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background: linear-gradient(
          90deg,
          transparent,
          rgba(255, 255, 255, 0.9),
          transparent
        );
    
    
    animation:loading .6s infinite;
}

.user_info_item_blank{
    display: inline-block;
    width: 110px;
    height: 15px;
    background-color: rgb(20, 20, 20);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.blank_edit_btn{
    width: 110px;
    height: 25px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
}
.blank_name{
    width: 170px;
    height: 15px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
}
.blank_setting_btn{
    width:28px;
    height:28px;
    border: 1px solid #dbdbdb;
    border-radius: 65px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}
.user_info_item_blank::after,.blank_edit_btn::after,.blank_name::after,.blank_setting_btn::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background: linear-gradient(
          90deg,
          transparent,
          rgba(255, 255, 255, 0.9),
          transparent
        );
    
    
    animation:loading .6s infinite;
}

@keyframes loading{
    0%{
        transform:skew(-10deg) translateX(-100%);
    }
    100%{
        transform:skew(-10deg) translateX(200%);
    }
}
.profile_user_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border:2px solid #fff;
    display: block;
}
.user_profile_second{
    display: flex;
    align-items: center;
    gap:32px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.user_info_item{
    display: flex;
    align-items: center;
    gap:8px;
}

.profile_toggle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    border-top: 1px solid #dbdbdb;
}
.toggle_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:32px;
    
}
.toggle_item{
    display: flex;
    align-items: center;
    padding:12px 8px;
    gap:8px;
    opacity: .5;
}
.toogle_item_enable{
    border-top: 1px solid;
    opacity: 1;
}

.profile_posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:26px;
}

.profile_post_item{
    width: 100%;
    height: 300px;
    position: relative;
}
.profile_post_item:hover .post_overlay{
    opacity: 1;
}
.post_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    opacity: 0;
}
.post_meta_info{
    display: flex;
    align-items: center;
    gap:32px;
}
.profile_post_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}
.post_meta_info span{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap:11px;
}