.navbar{
    width:100%;
    height:53px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    position: sticky;
    top:0;
    z-index: 99;
}
.navbar_container{
    width:65%;
    margin:0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    
}
.nav_main{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar{
    display: flex;
    align-items: center;
}
.searchbox{
    display: flex;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.search{
    display: flex;
    align-items: center;
    gap:12px;
}
.search input{
    outline: 0;
}

.navbar_buttons{
    display: flex;
    align-items: center;
    gap:22px;
}
.user_avatar:focus{
    border: 1px solid;
}
/* .user_avatar:focus .user_dropdown{
    display: block;
} */

.user_dropdown{
    min-width:230px;
    position: absolute;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.74);
    top:30px;
    margin-left: -180px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
}
.user_dropdown::before{
    content: '';
    position: absolute;
    top: -8px;
    right: 25px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.user_dropdown_list{
    width:90%;
    margin:10px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2px;
}
.user_dropdown_list li{
    padding:5px 12px;
    width: 100%;
    border-radius: 3px;
}
.user_dropdown_list li a{
    display: flex;
    align-items: center;
    gap:12px;
}
.user_dropdown_list li:hover{
    background-color: #eee;
}
.dropdown_footer{
    border-top: 1px solid #DBDBDB;
    
}
.dropdown_footer button{
    display: flex;
    align-items: center;
    width:90%;
    padding:5px 12px;
}