.navbar{
    width:100%;
    height:53px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    position: sticky;
    top:0;
    z-index: 100;
}
.navbar_container{
   
    margin:0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    max-width: 975px;
    padding: 0 20px;
    
}
.logo_large{
    display: none;
}

.logo_mobile{
    display: block;
}
.nav_main{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar{
    
    align-items: center;
}
.searchbox{
    display: flex;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.search{
    display: flex;
    align-items: center;
    gap:12px;
}
.search input{
    outline: 0;
}

.navbar_buttons,.blank_nav_buttons{
    display: flex;
    align-items: center;
    gap:22px;
}
.blank_nav_buttons span{
    display: block;
    width:23px;
    height:23px;
    background-color: #eee;
    border-radius: 50%;
    position: relative;
}

.blank_nav_buttons span::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(
          90deg,
          transparent,
          rgba(255, 255, 255, 0.9),
          transparent
        );
    
    
    animation:loading .6s infinite;
}

.alert_button{
    position: relative;
}
.alert_count{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff0000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 20px;
}
.alert_component{
    position: absolute;
    width:350px;
    padding-top: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    right: 10px;
    top:30px;
    border-radius: 8px;
    
}
.alert__section{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.alerts__container{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}
.alert_label{
    color: #262626ae;
    font-weight: 700;
    font-size: 14px;
}
.alerts{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:12px;
    align-items: flex-start;
    margin-top: 12px;
}
.alert__body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alert_user,.liked_photo_preview{
    width:38px;
    height:38px;
    background-color: #eee;
}
.alert_user{
    border-radius: 50%;
}
@keyframes loading{
    0%{
        transform:skew(-10deg) translateX(-100%);
    }
    100%{
        transform:skew(-10deg) translateX(200%);
    }
}
.user_avatar:focus{
    border: 1px solid;
}
.user_avatar img{
    width:100%;
    height:100%;
    border-radius: 65px;
}
/* .user_avatar:focus .user_dropdown{
    display: block;
} */

.user_dropdown{
    min-width:230px;
    position: absolute;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.74);
    top:30px;
    margin-left: -180px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
}
.user_dropdown::before{
    content: '';
    position: absolute;
    top: -8px;
    right: 25px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.user_dropdown_list{
    width:90%;
    margin:10px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2px;
}
.user_dropdown_list li{
    padding:5px 12px;
    width: 100%;
    border-radius: 3px;
}
.user_dropdown_list li a{
    display: flex;
    align-items: center;
    gap:12px;
}
.user_dropdown_list li:hover{
    background-color: #eee;
}
.dropdown_footer{
    border-top: 1px solid #DBDBDB;
    
}
.dropdown_footer button{
    display: flex;
    align-items: center;
    width:90%;
    padding:5px 12px;
}

@media screen and (min-width:475px){
    .logo_mobile{
        display: none;
    }
    .logo_large{
        display: block;
    }
}