.direct__body{
    width: 75%;
    margin: 15px auto;
    height: 90vh;
}

.direct__body_container{
    min-width: 935px;
    display: flex;
    height: 100%;
    overflow: hidden;
    flex: 0 0 auto;
    justify-content: center;
    align-items: stretch;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    width: 100%;
}

.chats_container{
    border-right: 1px solid rgba(219,219,219,1);
    height: 100%;
    width: 350px;
}

.chat_header{
    border-bottom: 1px solid rgba(219,219,219,1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding:0 20px;
    width: 100%;
    z-index: 2;
}

.chat_header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: inherit;
}
.chat_author{
    display: flex;
    align-items: center;
    color: rgba(38,38,38,1);
    flex: 1;
    justify-content: center;
    min-width: 0;
}
.chat_author_container{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-self: center;
    flex-direction: column;
    align-content: stretch;

}
.chat_author_container button{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    user-select: none;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
}
.chat_author_container button svg{
    transform: rotate(180deg);
}

.chats_wrapper{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding-top:12px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.chat_body{
    height: 100%;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    position: relative;
}

.chat_body_header{
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.chat_body_header_wrap{
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid rgba(219,219,219,1);
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 0 20px;
    width: 100%;
    z-index: 2;
}

.chat_body_header_content{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    width: 100%;
}

.chat_header_primary{
    display: flex;
    align-items: flex-start;
    text-align: left;
    color: rgba(38,38,38,1);
    flex: 1;
    white-space: nowrap;
}
.chat_primary_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.chat_primary_user_avatar{
    margin-left: 8px;
    flex: 0 0 auto;
    width:32px;
    height: 32px;
    background-color: #eee;
    margin-right: 18px;
    border-radius: 65px;
}
.current_chat_meta{
    display: flex;
    align-items: center;
    height: inherit;
}
.current_chat_content{
    display: flex;
    align-items: flex-start;
    height: inherit;
    flex-direction: column;
    
}

.chat_user_name{
    font-size: 14px;
    font-weight: 700;
}

.user_chats{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    padding-top: 12px;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-direction: column;
    gap:12px;
    
}

.chat_bubble{
   
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 115px;
    width: 220px;
    text-align: center;
    border-radius: 65px;
    border: 1px solid #dbdbdb;
    position: relative;
    margin-bottom: 45px;
    margin-top: 45px;
}
.chat_user{
    width:28px;
    height: 28px;
    background-color: #eee;
    position: absolute;
    top: -15px;
    left: -5px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.my_chat{
    align-self: flex-end;
    background-color: #ccc;
}
.my_reaction{
    align-self: flex-end;
    margin-bottom: 12px;
}


.chat_media{
    width:230px;
    border-radius: 12px;
    height: 340px;
    object-fit: cover;
    position: relative;
    cursor: pointer;
    margin-bottom: 45px;
}
.chat_media_image{
    width:100%;
    height:100%;
    border-radius: 12px;
}
.chat_media:hover .actions{
    opacity: 1;
}

.chat_reactions{
    position: absolute;
    min-width:50px;
    height: max-content;
    background-color: rgb(255, 255, 255);
    bottom: -18px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 65px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
.chat_reactions span{
    width:15px;
    height: 15px;
    background-color: rgb(90, 90, 90);
    display: block;
    border-radius: 50%;
}
.actions{
    position: absolute;
    width:max-content;
    left: 10px;
    bottom: 10px;
    background-color: #fff;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    gap:12px;
    opacity: 0;
}
.actions button{
    width:28px;
    height:28px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions button:hover{
    background-color: #ccc;
    
}

.new_chat_input_body{
    width: 100%;
    min-height: 65px;
    position: sticky;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.new_chat_custom_input{
    width:95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_chat_extra_controls{
    display: flex;
    align-items: center;
    gap:5px;
}
.new_chat_extra_controls label{
    width:32px;
    height:32px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.new_chat_extra_controls label input{
    display: none;
    
}

.new_chat_custom_input form{
    
    width: 80%;
}
.new_chat_custom_input input{
    width: 100%;
    height: 45px;
    padding-left: 5px;
    outline: 0;
}
.emoji_picker_btn{
    width: 32px;
    height: 32px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.emoji_picker{
    display: none;
    position: absolute;
    bottom:45px;
    left: 0;
    width: 350px;
    height: 375px;
    background-color: rgba(232, 232, 232, 0.575);
    overflow-y: scroll;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    z-index: 5;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 18px;
    padding-right: 18px;
}
.emoji_picker_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:22px;
}
.emojis_container{
    width: 100%;
    display: flex;
    align-items: center;
    gap:18px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.emojis_container span{
    font-size: 28px;
}
.new_chat_extra_controls button{
    width:32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat_body_empty{
    width: 100%;
    height: 100%;
    padding: 24px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:6px;
}

.new_chat_btn_secondary{
    min-width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(34, 123, 247);
    color: #fff;
    border-radius: 4px;
}

.empty_chat_subtitle{
    font-size: 14px;
    color: rgb(83, 83, 83);
}
.new_chat_btn_secondary:hover{
    background-color: rgb(4, 57, 132);
    
}

.react_btn{
    position: relative;
}
.reactions{
    width:max-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    border-radius: 65px;
    position: absolute;
    top:10px;
    display: flex;
    gap:18px;
    align-items: center;
    
    opacity: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.reactions__from{
    left:15px;
}
.rection__me{
    right:15px;
}



.reaction{
    width:28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:translateX 0.2s ease-in-out 1;
}

@keyframes translateX {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.reaction:hover{
    transform: translateY(-10px);
}
.reaction img{
    width:28px;
    height: 28px;
    border-radius: 50%;
}