@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar{
 display: none;
}

.heart_reaction svg{
  fill: "red";
}

.emoji_picker_enable{
  display: block !important;
}

.animated{
  animation:roll .6s ease-in-out infinite;
  }
  
  @keyframes roll{
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
     100%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

.tick_mark_enable{
  transform: translate(-50%,-50%) scale(1) !important;
  opacity: 1 !important;
}
*{
  margin: 0;
  padding:0;
  transition: all 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
